# Скопируйте файл в .env и укажите свой пароль PostgreSQL.
POSTGRES_USER=ratibor
POSTGRES_PASSWORD=ratibor
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=stock_olap

# Административная БД, к которой можно подключиться для CREATE DATABASE.
POSTGRES_ADMIN_DB=postgres
